<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>External template</title>
  </head>
  <body>
    <h1>Worked!</h1>
    <ul>      
      <li><a href="<%= @profile_link %>">profile</a></li>
      <li><a href="<%= @help_link %>">help</a></li>
    </ul>
  </body>
</html>
